body{
    font-family: Arial, sans-serif;
   background: linear-gradient(
    180deg,
    #FFF0F6,
    #FCEEF5
);
    margin:0;
    padding:20px;
}

.contenedor{
    max-width:500px;
    margin:auto;
}

h1{
    text-align:center;
}

.tarjeta{
    text-align:center;
    background:#FFF8FC;
    padding:15px;
    margin-bottom:10px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(215,109,168,.15);
    border:1px solid #F7D4E6;
}
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
    background:#E88BB8;
color:white;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    box-sizing:border-box;
}
select{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ddd;
    border-radius:8px;
    box-sizing:border-box;
}
.oculto{
    display: none !important;
}

#listaServicios{
    padding:0;
}

#listaServicios li{
    list-style:none;
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    border-left:5px solid #d76da8;
    line-height:1.8;
}
select{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ddd;
    border-radius:8px;
    box-sizing:border-box;
}

h4{
    color:#d76da8;
    margin-top:15px;
}

label{
    display:block;
    margin-top:5px;
}
.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);

    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-contenido{

    background:white;

    padding:25px;

    border-radius:15px;

    width:320px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.botones-modal{

    display:flex;

    justify-content:space-between;

    margin-top:20px;

}

.cancelar{

    background:#bdbdbd;

    color:white;

}

.eliminar{

    background:#d32f2f;

    color:white;

}
.input-modal {

    width: 90%;

    padding: 12px;

    border-radius: 12px;

    border: 1px solid #ddd;

    margin-top: 15px;

    font-size: 15px;

    text-align: center;

}
.logo {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
    border-radius: 22px;
}